#Using Postgres

In [10]:
pip install ipython-sql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.9/dist-packages (0.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pygments in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (2.14.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (3.0.38)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.9/dist-packages (from ipython>=1.0->ipython-sql) (67.6.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.9/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.9/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.6)

In [11]:
!pip install sqlalchemy==1.3.9

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy==1.3.9 in /usr/local/lib/python3.9/dist-packages (1.3.9)

In [12]:
#inspired by: https://thivyapriyaa.medium.com/setting-up-postgresql-on-google-colab-4d02166939fc
#Installing postgres
%%capture
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

In [13]:
#set up username and password - pass and username are both postgres
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

ALTER ROLE

In [14]:
#Delete database named 'majorCrimeDB' if exist

!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS majorcrimedb;'

ERROR:  database "majorcrimedb" is being accessed by other users
DETAIL:  There is 1 other session using the database.

In [15]:
#Create DB named 'majorCrimeDB'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE majorcrimedb;'

ERROR:  database "majorcrimedb" already exists

In [16]:
# set connection
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/majorcrimedb

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/majorcrimedb

In [17]:
# To use SQL
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
#get CSV file from git repo
!wget -O CovidFactTable.csv https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/CovidFactTable.csv
!wget -O CrimeFactTable.csv https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/CrimeFactTable.csv
!wget -O IncidentTable.csv https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/IncidentTable.csv
!wget -O LocationTable.csv https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/LocationTable.csv
!wget -O NeighbourhoodTable.csv https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/NeighbourhoodTable.csv
!wget -O OccurrenceTable.csv https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/OccurrenceTable.csv
!wget -O PremiseTable.csv https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/PremiseTable.csv
!wget -O ReportedTable.csv https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/ReportedTable.csv

--2023-04-12 01:07:13--  https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/CovidFactTable.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 66002 (64K) [text/plain]
Saving to: ‘CovidFactTable.csv’

CovidFactTable.csv  100%[===================>]  64.46K  --.-KB/s    in 0.001s

2023-04-12 01:07:13 (63.2 MB/s) - ‘CovidFactTable.csv’ saved [66002/66002]

--2023-04-12 01:07:13--  https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/CrimeFactTable.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5990980 (5.7M) [text/plain]
Saving to: ‘CrimeFactTable.csv’

CrimeFactTable.csv  100%[===================>]   5.71M  --.-KB/s    in 0.03s

2023-04-12 01:07:13 (177 MB/s) - ‘CrimeFactTable.csv’ saved [5990980/5990980]

--2023-04-12 01:07:13--  https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/IncidentTable.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2347 (2.3K) [text/plain]
Saving to: ‘IncidentTable.csv’

IncidentTable.csv   100%[===================>]   2.29K  --.-KB/s    in 0s

2023-04-12 01:07:13 (27.8 MB/s) - ‘IncidentTable.csv’ saved [2347/2347]

--2023-04-12 01:07:13--  https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/LocationTable.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 688310 (672K) [text/plain]
Saving to: ‘LocationTable.csv’

LocationTable.csv   100%[===================>] 672.18K  --.-KB/s    in 0.005s

2023-04-12 01:07:13 (125 MB/s) - ‘LocationTable.csv’ saved [688310/688310]

--2023-04-12 01:07:14--  https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/NeighbourhoodTable.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7699 (7.5K) [text/plain]
Saving to: ‘NeighbourhoodTable.csv’

NeighbourhoodTable. 100%[===================>]   7.52K  --.-KB/s    in 0s

2023-04-12 01:07:14 (83.1 MB/s) - ‘NeighbourhoodTable.csv’ saved [7699/7699]

--2023-04-12 01:07:14--  https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/OccurrenceTable.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 151044 (148K) [text/plain]
Saving to: ‘OccurrenceTable.csv’

OccurrenceTable.csv 100%[===================>] 147.50K  --.-KB/s    in 0.004s

2023-04-12 01:07:14 (35.6 MB/s) - ‘OccurrenceTable.csv’ saved [151044/151044]

--2023-04-12 01:07:14--  https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/PremiseTable.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2297 (2.2K) [text/plain]
Saving to: ‘PremiseTable.csv’

PremiseTable.csv    100%[===================>]   2.24K  --.-KB/s    in 0s

2023-04-12 01:07:14 (35.7 MB/s) - ‘PremiseTable.csv’ saved [2297/2297]

--2023-04-12 01:07:14--  https://raw.githubusercontent.com/zhrmnch/CSI4142_Phase3/main/tables/ReportedTable.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 132217 (129K) [text/plain]
Saving to: ‘ReportedTable.csv’

ReportedTable.csv   100%[===================>] 129.12K  --.-KB/s    in 0.004s

2023-04-12 01:07:14 (35.5 MB/s) - ‘ReportedTable.csv’ saved [132217/132217]

In [19]:
%sql DROP TABLE IF EXISTS location
%sql DROP TABLE IF EXISTS incident
%sql DROP TABLE IF EXISTS neighbourhood
%sql DROP TABLE IF EXISTS occurance_date
%sql DROP TABLE IF EXISTS premise
%sql DROP TABLE IF EXISTS reported_date

 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.
 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.
 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.
 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.
 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.
 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.

[]

In [20]:
#Create Dimension
%sql CREATE TABLE location(location_pk INT, division TEXT,longitude FLOAT, latitude FLOAT, PRIMARY KEY (location_pk) )
%sql CREATE TABLE incident(incident_pk INT,mci_category TEXT, offence TEXT, ucr_code INT, ucr_ext INT, PRIMARY KEY (incident_pk) ) 
%sql CREATE TABLE neighbourhood(neighbourhood_pk INT,neighbourhood TEXT, shape_area FLOAT, shape_length FLOAT, PRIMARY KEY (neighbourhood_pk) )
%sql CREATE TABLE occurance_date(occurence_pk INT,occurrencedate DATE,occurrencehour INT, occurrenceday INT, occurrencemonth INT, occurrenceyear INT, PRIMARY KEY(occurence_pk)  )
%sql CREATE TABLE premise(premise_pk INT, location_type TEXT, premises_type TEXT, PRIMARY KEY(premise_pk))
%sql CREATE TABLE reported_date(reported_pk INT,reporteddate DATE,reportedhour INT, reportedday INT, reportedmonth INT, reportedyear INT, PRIMARY KEY(reported_pk))

 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.
 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.
 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.
 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.
 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.
 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.

[]

In [21]:
#create fact crime fact table
%%sql CREATE TABLE crime_fact_table(premise_pk INT,incident_pk INT,location_pk INT,occurence_pk INT,reported_Pk INT,neighbourhood_PK INT,
                                    PRIMARY KEY (premise_pk,incident_pk,location_pk,occurence_pk,reported_Pk,neighbourhood_PK),
                                    FOREIGN KEY (premise_pk) REFERENCES premise(premise_pk),
                                    FOREIGN KEY (incident_pk) REFERENCES incident(incident_pk),
                                    FOREIGN KEY (location_pk) REFERENCES location(location_pk),
                                    FOREIGN KEY (occurence_pk) REFERENCES occurance_date(occurence_pk),
                                    FOREIGN KEY (reported_pk) REFERENCES reported_date(reported_pk),
                                    FOREIGN KEY (neighbourhood_pk) REFERENCES neighbourhood(neighbourhood_pk));

 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.

[]

In [22]:
#create COVID fact table
%%sql CREATE TABLE covid_fact_table(neighbourhood_pk INT, year INT,month INT,num_cases INT,
                                    PRIMARY KEY (neighbourhood_pk,year, month),
                                    FOREIGN KEY (neighbourhood_pk) REFERENCES neighbourhood(neighbourhood_pk));

 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.

[]

In [23]:
%%sql
COPY location(location_pk , division ,longitude , latitude )
FROM '/content/LocationTable.csv' DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost:5432/majorcrimedb
20108 rows affected.

[]

In [24]:
%sql SELECT * FROM location LIMIT 10

 * postgresql://postgres:***@localhost:5432/majorcrimedb
10 rows affected.

[(1, 'D31', -79.50447515, 43.76637136),
 (2, 'D42', -79.21708283, 43.81486078),
 (3, 'D22', -79.5349571, 43.58908526),
 (4, 'D53', -79.34658826, 43.70321193),
 (5, 'D22', -79.53191599, 43.64524669),
 (6, 'D51', -79.37216821, 43.66763473),
 (7, 'D33', -79.33774388, 43.7874179),
 (8, 'D14', -79.41874469, 43.65445612),
 (9, 'D13', -79.41919633, 43.68541048),
 (10, 'D11', -79.43532226, 43.64420447)]

In [25]:
%%sql
COPY incident(incident_pk ,mci_category , offence , ucr_code , ucr_ext ) 
FROM '/content/IncidentTable.csv' DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost:5432/majorcrimedb
51 rows affected.

[]

In [26]:
%%sql
COPY neighbourhood(neighbourhood_pk ,neighbourhood , shape_area , shape_length )
FROM '/content/NeighbourhoodTable.csv' DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost:5432/majorcrimedb
140 rows affected.

[]

In [27]:
%%sql
COPY occurance_date(occurence_pk ,occurrencedate ,occurrencehour, occurrenceday, occurrencemonth , occurrenceyear)
FROM '/content/OccurrenceTable.csv' DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost:5432/majorcrimedb
3542 rows affected.

[]

In [28]:
%%sql
COPY premise(premise_pk , location_type , premises_type)
FROM '/content/PremiseTable.csv' DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost:5432/majorcrimedb
52 rows affected.

[]

In [29]:
%%sql
COPY reported_date(reported_pk,reporteddate ,reportedhour , reportedday , reportedmonth , reportedyear  )
FROM '/content/ReportedTable.csv'  DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost:5432/majorcrimedb
3103 rows affected.

[]

In [30]:
%%sql
COPY crime_fact_table(premise_pk,incident_pk ,location_pk ,occurence_pk ,reported_Pk ,neighbourhood_PK)
FROM '/content/CrimeFactTable.csv'  DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost:5432/majorcrimedb
272098 rows affected.

[]

In [31]:
%%sql
COPY covid_fact_table(num_cases, year ,month ,neighbourhood_pk)
FROM '/content/CovidFactTable.csv'  DELIMITER ',' CSV HEADER;

 * postgresql://postgres:***@localhost:5432/majorcrimedb
4869 rows affected.

[]

In [33]:
%%sql DROP TABLE IF EXISTS data_cube

 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.

[]

In [34]:
#creating data cube
%%sql
CREATE TABLE data_cube AS (
SELECT 
COUNT(*) AS crime_count,n.neighbourhood,o.occurrencedate,p.premises_type
FROM crime_fact_table c
    JOIN neighbourhood n ON c.neighbourhood_pk = n.neighbourhood_pk
    JOIN occurance_date o ON c.occurence_pk = o.occurence_pk
    JOIN premise p ON c.premise_pk = p.premise_pk
GROUP BY 
    n.neighbourhood,
    o.occurrencedate,
    p.premises_type
);

 * postgresql://postgres:***@localhost:5432/majorcrimedb
223128 rows affected.

[]

In [35]:
%%sql 
SELECT * FROM data_cube
LIMIT 20

 * postgresql://postgres:***@localhost:5432/majorcrimedb
20 rows affected.

[(1, 'Agincourt North', datetime.date(2004, 10, 1), 'House'),
 (1, 'Agincourt North', datetime.date(2011, 1, 1), 'Apartment'),
 (1, 'Agincourt North', datetime.date(2013, 8, 28), 'House'),
 (1, 'Agincourt North', datetime.date(2013, 12, 21), 'Apartment'),
 (1, 'Agincourt North', datetime.date(2014, 1, 1), 'House'),
 (2, 'Agincourt North', datetime.date(2014, 1, 1), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 1, 2), 'House'),
 (1, 'Agincourt North', datetime.date(2014, 1, 3), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 1, 10), 'House'),
 (1, 'Agincourt North', datetime.date(2014, 1, 12), 'House'),
 (1, 'Agincourt North', datetime.date(2014, 1, 15), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 1, 20), 'House'),
 (1, 'Agincourt North', datetime.date(2014, 1, 20), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 1, 24), 'House'),
 (1, 'Agincourt North', datetime.date(2014, 1, 24), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 1, 26), 'House'),
 (2, 'Agincourt North', datetime.date(2014, 1, 27), 'Outside'),
 (2, 'Agincourt North', datetime.date(2014, 1, 30), 'House'),
 (1, 'Agincourt North', datetime.date(2014, 1, 31), 'Outside'),
 (2, 'Agincourt North', datetime.date(2014, 2, 1), 'Apartment')]

In [36]:
#1) rollup example
%%sql 
CREATE TABLE data_cube_yearly AS (
SELECT 
COUNT(*) AS crime_count,neighbourhood,EXTRACT (YEAR FROM occurrencedate) AS crime_year,premises_type
FROM data_cube
GROUP BY neighbourhood,EXTRACT (YEAR FROM occurrencedate),premises_type
);

 * postgresql://postgres:***@localhost:5432/majorcrimedb
9203 rows affected.

[]

In [37]:
%%sql 
SELECT * FROM data_cube_yearly LIMIT 20

 * postgresql://postgres:***@localhost:5432/majorcrimedb
20 rows affected.

[(15, 'Agincourt North', 2018.0, 'Apartment'),
 (53, 'Cabbagetown-South St.James Town', 2020.0, 'Commercial'),
 (78, 'Scarborough Village', 2014.0, 'Apartment'),
 (5, 'Cliffcrest', 2020.0, 'Transit'),
 (22, 'Alderwood', 2014.0, 'Commercial'),
 (9, 'North Riverdale', 2020.0, 'Apartment'),
 (18, 'Caledonia-Fairbank', 2019.0, 'Outside'),
 (51, 'Cabbagetown-South St.James Town', 2018.0, 'Apartment'),
 (26, 'Princess-Rosethorn', 2020.0, 'House'),
 (2, 'Taylor-Massey', 2016.0, 'Other'),
 (3, 'Danforth East York', 2017.0, 'Educational'),
 (8, 'Briar Hill-Belgravia', 2019.0, 'Other'),
 (39, 'Danforth', 2015.0, 'Outside'),
 (43, 'Malvern', 2017.0, 'Commercial'),
 (55, 'Cabbagetown-South St.James Town', 2020.0, 'Outside'),
 (11, 'Danforth East York', 2020.0, 'Commercial'),
 (27, 'Playter Estates-Danforth', 2020.0, 'Apartment'),
 (57, 'Kingsview Village-The Westway', 2016.0, 'Apartment'),
 (61, 'South Parkdale', 2018.0, 'Outside'),
 (23, 'Palmerston-Little Italy', 2018.0, 'Apartment')]

In [38]:
#2) drill down
%%sql
CREATE TABLE data_cube_location_type AS (
SELECT 
COUNT(*) AS crime_count,n.neighbourhood,o.occurrencedate,p.location_type
FROM crime_fact_table c
    JOIN neighbourhood n ON c.neighbourhood_pk = n.neighbourhood_pk
    JOIN occurance_date o ON c.occurence_pk = o.occurence_pk
    JOIN premise p ON c.premise_pk = p.premise_pk
GROUP BY 
    n.neighbourhood,
    o.occurrencedate,
    p.location_type
);

 * postgresql://postgres:***@localhost:5432/majorcrimedb
231855 rows affected.

[]

In [39]:
%%sql 
SELECT * FROM data_cube_location_type LIMIT 20

 * postgresql://postgres:***@localhost:5432/majorcrimedb
20 rows affected.

[(1, 'Agincourt North', datetime.date(2004, 10, 1), 'Single Home, House (Attach Garage, Cottage, Mobile)'),
 (1, 'Agincourt North', datetime.date(2011, 1, 1), 'Apartment (Rooming House, Condo)'),
 (1, 'Agincourt North', datetime.date(2013, 8, 28), 'Single Home, House (Attach Garage, Cottage, Mobile)'),
 (1, 'Agincourt North', datetime.date(2013, 12, 21), 'Apartment (Rooming House, Condo)'),
 (1, 'Agincourt North', datetime.date(2014, 1, 1), 'Single Home, House (Attach Garage, Cottage, Mobile)'),
 (2, 'Agincourt North', datetime.date(2014, 1, 1), 'Ttc Bus Stop / Shelter / Loop'),
 (1, 'Agincourt North', datetime.date(2014, 1, 2), 'Single Home, House (Attach Garage, Cottage, Mobile)'),
 (1, 'Agincourt North', datetime.date(2014, 1, 3), 'Parking Lots (Apt., Commercial Or Non-Commercial)'),
 (1, 'Agincourt North', datetime.date(2014, 1, 10), 'Single Home, House (Attach Garage, Cottage, Mobile)'),
 (1, 'Agincourt North', datetime.date(2014, 1, 12), 'Single Home, House (Attach Garage, Cottage, Mobile)'),
 (1, 'Agincourt North', datetime.date(2014, 1, 15), 'Streets, Roads, Highways (Bicycle Path, Private Road)'),
 (1, 'Agincourt North', datetime.date(2014, 1, 20), 'Single Home, House (Attach Garage, Cottage, Mobile)'),
 (1, 'Agincourt North', datetime.date(2014, 1, 20), 'Ttc Bus Stop / Shelter / Loop'),
 (1, 'Agincourt North', datetime.date(2014, 1, 24), 'Single Home, House (Attach Garage, Cottage, Mobile)'),
 (1, 'Agincourt North', datetime.date(2014, 1, 24), 'Streets, Roads, Highways (Bicycle Path, Private Road)'),
 (1, 'Agincourt North', datetime.date(2014, 1, 26), 'Single Home, House (Attach Garage, Cottage, Mobile)'),
 (2, 'Agincourt North', datetime.date(2014, 1, 27), 'Ttc Bus Stop / Shelter / Loop'),
 (2, 'Agincourt North', datetime.date(2014, 1, 30), 'Single Home, House (Attach Garage, Cottage, Mobile)'),
 (1, 'Agincourt North', datetime.date(2014, 1, 31), 'Streets, Roads, Highways (Bicycle Path, Private Road)'),
 (2, 'Agincourt North', datetime.date(2014, 2, 1), 'Apartment (Rooming House, Condo)')]

In [40]:
#3) slice - showing all type of assult on Outside
%%sql
CREATE TABLE data_cube_slice_outside AS (
  SELECT COUNT(*) AS crime_count,d.neighbourhood,d.occurrencedate,d.premises_type
  FROM data_cube d WHERE d.premises_type = 'Outside'
  GROUP BY 
  d.neighbourhood,d.occurrencedate, d.premises_type
)

 * postgresql://postgres:***@localhost:5432/majorcrimedb
56041 rows affected.

[]

In [41]:
%%sql SELECT * FROM data_cube_slice_outside LIMIT 20

 * postgresql://postgres:***@localhost:5432/majorcrimedb
20 rows affected.

[(1, 'Agincourt North', datetime.date(2014, 1, 1), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 1, 3), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 1, 15), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 1, 20), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 1, 24), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 1, 27), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 1, 31), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 2, 5), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 2, 8), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 2, 11), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 2, 19), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 2, 20), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 3, 7), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 4, 2), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 4, 20), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 4, 23), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 4, 28), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 4, 29), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 5, 5), 'Outside'),
 (1, 'Agincourt North', datetime.date(2014, 6, 8), 'Outside')]

In [42]:
# 4) dice
%%sql
CREATE TABLE data_cube_dice_outside_2020 AS (
  SELECT COUNT(*) AS crime_count,d.neighbourhood,d.occurrencedate,d.premises_type
  FROM data_cube d WHERE d.premises_type = 'Outside' AND EXTRACT (YEAR FROM occurrencedate)=2020
  GROUP BY 
  d.neighbourhood,d.occurrencedate,d.premises_type
)

 * postgresql://postgres:***@localhost:5432/majorcrimedb
6436 rows affected.

[]

In [43]:
%%sql SELECT * FROM data_cube_dice_outside_2020 LIMIT 20

 * postgresql://postgres:***@localhost:5432/majorcrimedb
20 rows affected.

[(1, 'Agincourt North', datetime.date(2020, 1, 2), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 1, 3), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 1, 8), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 2, 7), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 2, 8), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 2, 10), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 2, 12), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 2, 25), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 3, 5), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 3, 6), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 3, 26), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 5, 26), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 5, 31), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 6, 10), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 6, 26), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 7, 3), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 7, 4), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 7, 8), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 7, 17), 'Outside'),
 (1, 'Agincourt North', datetime.date(2020, 7, 20), 'Outside')]

In [44]:
# 5) combining OLAP queries - comparing the offences happening in Apartment in 2020 vs Outside

%%sql
CREATE TABLE data_cube_apt_out_2020 AS (
SELECT COUNT(*) AS crime_count, o.occurrencedate, p.premises_type , e.offence
FROM crime_fact_table c
    JOIN occurance_date o ON c.occurence_pk = o.occurence_pk
    JOIN premise p ON c.premise_pk = p.premise_pk
    JOIN incident e ON c.incident_pk = e.incident_pk
WHERE (p.premises_type = 'Apartment' OR p.premises_type = 'Outside') AND EXTRACT (YEAR FROM o.occurrencedate)=2020 
GROUP BY 
    o.occurrencedate,
    p.premises_type,
    e.offence
);

 * postgresql://postgres:***@localhost:5432/majorcrimedb
4836 rows affected.

[]

In [45]:
%%sql SELECT * FROM data_cube_apt_out_2020 LIMIT 20

 * postgresql://postgres:***@localhost:5432/majorcrimedb
20 rows affected.

[(1, datetime.date(2020, 1, 1), 'Apartment', 'Administering Noxious Thing'),
 (2, datetime.date(2020, 1, 1), 'Apartment', 'Aggravated Assault'),
 (54, datetime.date(2020, 1, 1), 'Apartment', 'Assault'),
 (3, datetime.date(2020, 1, 1), 'Apartment', 'Assault Bodily Harm'),
 (15, datetime.date(2020, 1, 1), 'Apartment', 'Assault With Weapon'),
 (6, datetime.date(2020, 1, 1), 'Apartment', 'B&E'),
 (1, datetime.date(2020, 1, 1), 'Apartment', "B&E W'Intent"),
 (1, datetime.date(2020, 1, 1), 'Apartment', 'Discharge Firearm - Recklessly'),
 (1, datetime.date(2020, 1, 1), 'Apartment', 'Theft Of Motor Vehicle'),
 (2, datetime.date(2020, 1, 1), 'Apartment', 'Theft Over'),
 (2, datetime.date(2020, 1, 1), 'Apartment', 'Unlawfully In Dwelling-House'),
 (11, datetime.date(2020, 1, 1), 'Outside', 'Assault'),
 (3, datetime.date(2020, 1, 1), 'Outside', 'Assault Bodily Harm'),
 (2, datetime.date(2020, 1, 1), 'Outside', 'Assault With Weapon'),
 (6, datetime.date(2020, 1, 1), 'Outside', 'Robbery - Mugging'),
 (1, datetime.date(2020, 1, 1), 'Outside', 'Robbery With Weapon'),
 (8, datetime.date(2020, 1, 1), 'Outside', 'Theft Of Motor Vehicle'),
 (9, datetime.date(2020, 1, 2), 'Apartment', 'Assault'),
 (2, datetime.date(2020, 1, 2), 'Apartment', 'Assault Bodily Harm'),
 (5, datetime.date(2020, 1, 2), 'Apartment', 'Assault With Weapon')]

In [46]:
#6) combining OLAP queries - Comparing the number of assult in the apartment vs outside

%%sql
CREATE TABLE assult_out_apt AS (
SELECT COUNT(*) AS crime_count, p.premises_type , i.mci_category
FROM crime_fact_table c
    JOIN premise p ON c.premise_pk = p.premise_pk
    JOIN incident i ON c.incident_pk = i.incident_pk
WHERE (p.premises_type = 'Apartment' OR p.premises_type = 'Outside') AND i.mci_category = 'Assault'
GROUP BY 
    p.premises_type,
    i.mci_category
);

 * postgresql://postgres:***@localhost:5432/majorcrimedb
2 rows affected.

[]

In [47]:
%%sql SELECT * FROM assult_out_apt

 * postgresql://postgres:***@localhost:5432/majorcrimedb
2 rows affected.

[(46549, 'Apartment', 'Assault'), (34925, 'Outside', 'Assault')]

In [48]:
%%sql SELECT * FROM neighbourhood LIMIT 20

 * postgresql://postgres:***@localhost:5432/majorcrimedb
20 rows affected.

[(1, 'Yonge-St.Clair', 1161314.75244141, 5873.27050652613),
 (2, 'York University Heights', 13246655.9714355, 18504.7776156274),
 (3, 'Lansing-Westgate', 5346185.87353516, 11112.1094187908),
 (4, 'Yorkdale-Glen Park', 6038325.94311523, 10079.4268374564),
 (5, 'Stonegate-Queensway', 7946201.71362305, 11853.1898033065),
 (6, "Tam O'Shanter-Sullivan", 5422344.64331055, 10750.4682895881),
 (7, 'The Beaches', 3595829.08642578, 11275.1812840093),
 (8, 'Thistletown-Beaumond Heights', 3339481.015625, 10828.4442694002),
 (9, 'Thorncliffe Park', 3126553.82421875, 7502.70932015893),
 (10, 'Danforth East York', 2188597.65380859, 7623.8578029557),
 (11, 'Humewood-Cedarvale', 1871263.38720703, 6036.26817741256),
 (12, 'Islington-City Centre West', 16239688.6918945, 20311.9293923463),
 (13, 'Danforth', 1119664.69775391, 6233.17259531118),
 (14, 'Rustic', 2096348.76586914, 5888.97164994937),
 (15, 'Scarborough Village', 3151015.08251953, 7922.76449106579),
 (16, 'South Parkdale', 2286974.10668945, 10802.8320696002),
 (17, 'South Riverdale', 10964573.7402344, 43080.7247850628),
 (18, 'St.Andrew-Windfields', 7299579.79418945, 13025.9972757258),
 (19, 'Taylor-Massey', 1062970.05541992, 5940.70014432376),
 (20, 'Humber Summit', 7966905.41308594, 12608.5730101444)]

In [49]:
#7) combining OLAP queries - counting all numbers of offences in different neighbourhood 
#comparing to the number of covid cases
%%sql
CREATE TABLE cov_offence_neighbourhood_total AS (
SELECT COUNT(*) AS crime_count, p.premises_type, i.mci_category, n.neighbourhood, n.neighbourhood_pk,
       (SELECT COUNT(*) FROM covid_fact_table v WHERE v.neighbourhood_PK = n.neighbourhood_pk ) AS covid_cases_count
FROM crime_fact_table c
    JOIN premise p ON c.premise_pk = p.premise_pk
    JOIN incident i ON c.incident_pk = i.incident_pk
    JOIN neighbourhood n ON c.neighbourhood_pk = n.neighbourhood_pk
WHERE (p.premises_type = 'Apartment' OR p.premises_type = 'Outside') AND i.mci_category = 'Assault'
GROUP BY 
    p.premises_type,
    i.mci_category,
    n.neighbourhood,
    n.neighbourhood_pk
);

 * postgresql://postgres:***@localhost:5432/majorcrimedb
280 rows affected.

[]

In [50]:
%%sql SELECT * FROM cov_offence_neighbourhood_total LIMIT 20

 * postgresql://postgres:***@localhost:5432/majorcrimedb
20 rows affected.

[(774, 'Apartment', 'Assault', 'Mimico (includes Humber Bay Shores)', 140, 35),
 (287, 'Outside', 'Assault', 'Cabbagetown-South St.James Town', 100, 35),
 (123, 'Apartment', 'Assault', 'Caledonia-Fairbank', 58, 35),
 (1586, 'Apartment', 'Assault', 'Waterfront Communities-The Island', 40, 36),
 (50, 'Apartment', 'Assault', 'Guildwood', 37, 34),
 (240, 'Outside', 'Assault', 'Kennedy Park', 44, 35),
 (1077, 'Apartment', 'Assault', 'Downsview-Roding-CFB', 92, 35),
 (132, 'Apartment', 'Assault', 'Hillcrest Village', 62, 35),
 (246, 'Outside', 'Assault', 'Flemingdon Park', 26, 35),
 (124, 'Apartment', 'Assault', 'Edenbridge-Humber Valley', 65, 35),
 (81, 'Apartment', 'Assault', 'St.Andrew-Windfields', 18, 36),
 (409, 'Apartment', 'Assault', 'Kingsview Village-The Westway', 45, 35),
 (165, 'Outside', 'Assault', 'Briar Hill-Belgravia', 139, 35),
 (53, 'Outside', 'Assault', 'Pleasant View', 136, 35),
 (74, 'Outside', 'Assault', 'Highland Creek', 72, 35),
 (220, 'Outside', 'Assault', 'Birchcliffe-Cliffside', 90, 34),
 (222, 'Apartment', 'Assault', 'Stonegate-Queensway', 5, 35),
 (427, 'Apartment', 'Assault', 'Malvern', 123, 35),
 (79, 'Outside', 'Assault', 'Etobicoke West Mall', 33, 34),
 (87, 'Outside', 'Assault', 'St.Andrew-Windfields', 18, 36)]

In [52]:
%%sql DROP TABLE IF EXISTS cov_offence_2020_2021_total

 * postgresql://postgres:***@localhost:5432/majorcrimedb
Done.

[]

In [53]:
#8) combining OLAP queries - counting all numbers of offences in year 2020 and 2021 
#comparing to the number of covid cases
%%sql
CREATE TABLE cov_offence_2020_2021_total AS (
SELECT COUNT(*) AS crime_count,o.occurrenceyear,
       (SELECT COUNT(*) FROM covid_fact_table v WHERE v.year IN (2020, 2021) AND v.year =o.occurrenceyear)AS covid_cases_count
FROM crime_fact_table c
    JOIN occurance_date o ON c.occurence_pk = c.occurence_pk
WHERE o.occurrenceyear IN (2020, 2021)
GROUP BY 
    o.occurrenceyear
);

 * postgresql://postgres:***@localhost:5432/majorcrimedb
2 rows affected.

[]

In [54]:
%%sql SELECT * FROM cov_offence_2020_2021_total LIMIT 30

 * postgresql://postgres:***@localhost:5432/majorcrimedb
2 rows affected.

[(99587868, 2020, 1376), (99315770, 2021, 1673)]

In [55]:
#iceberg: finding the top 5 months with the most covid cases
%%sql
SELECT c.month, c.year, SUM(c.num_cases) AS num_case
FROM covid_fact_table c
group by c.month, c.year
ORDER BY num_case DESC LIMIT 5;

 * postgresql://postgres:***@localhost:5432/majorcrimedb
5 rows affected.

[(12, 2021, 59159),
 (1, 2022, 43455),
 (4, 2021, 34642),
 (1, 2021, 22153),
 (12, 2020, 21555)]

In [56]:
#windowing: Rank the type of offence through the whole time
%%sql
SELECT i.mci_category, count(*) AS num_of_offences,
RANK() OVER (ORDER BY count(*) desc)
FROM crime_fact_table c
    JOIN incident i ON c.incident_pk = i.incident_pk
GROUP BY(i.mci_category)

 * postgresql://postgres:***@localhost:5432/majorcrimedb
5 rows affected.

[('Assault', 144137, 1),
 ('Break and Enter', 57640, 2),
 ('Auto Theft', 36570, 3),
 ('Robbery', 24045, 4),
 ('Theft Over', 9706, 5)]

In [57]:
#Windowing clause: comparing the number of crime happened in year 2020 and the year before and after
%%sql
SELECT o.occurrenceyear , count(*) AS num_of_offences
FROM crime_fact_table c
    JOIN occurance_date o ON c.occurence_pk = o.occurence_pk
    WHERE o.occurrenceyear = 2020 OR o.occurrenceyear = 2019 OR o.occurrenceyear = 2021
GROUP BY o.occurrenceyear
ORDER BY o.occurrenceyear

 * postgresql://postgres:***@localhost:5432/majorcrimedb
3 rows affected.

[(2019, 35898), (2020, 31611), (2021, 31077)]